.ba {
    border-style: solid;
    border-width: 2px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br2 {
    border-radius: .25rem;
}

.mw5 {
    max-width: 16rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mv4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.portfolio__item {
    box-shadow: var(--bs);
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
    transform: scale(1.2);
    opacity: .5;
}