header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--clr-light);
    z-index: 100;
    box-shadow: 0px 12px 11px -3px rgba(48, 48, 48, 1);
}

button {
    margin-top: 2em;
    margin-right: 2em;
}

.logo {
    max-width: 200px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: #afafaf;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

.nav-open+.nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    background: var(--clr-light);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background: var(--clr-light);
}

.nav-open .hamburger::after {
    opacity: 0;
}

@media(min-width: 750px) {
    header {
        max-width: 1200px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 0;
        margin: 0 auto;
        opacity: 0.9;
    }
    .nav-toggle {
        display: none;
    }
    .nav {
        position: relative;
        background-color: var(--clr-light);
        color: var(--clr-dark);
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 60%;
    }
    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    .nav__link {
        font-size: var(--fs-nav);
        display: inline-block;
    }
}